@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --background-color-1: #1a1c22;
  --background-color-2: #2a2e38;
  --background-color-3: #0095ff;
  --background-color-4: #f8f8f8;
  
  --transparent: rgba(0, 0, 0, 0);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: radial-gradient(circle at bottom right, #0f2630, #000000);
  font-family: Arial, Helvetica, sans-serif;
}

* {
  scrollbar-width: none;
  -ms-overflow-style: none; 
}

*::-webkit-scrollbar {
  display: none;
}

/* Module Styling */
.module {
  position: relative;
  padding: 1.5px;
  background: linear-gradient(to right, #3b9f69, #3182ce); /* Gradient border */
  border: #0a0a0a solid 1px; 
  border-radius: 1rem;
}

.module .content {
  position: relative;
  padding: 1.5rem;
  background: rgb(3, 20, 28);
  height: 100%;
  border-radius: inherit;
}

.module:hover {
  box-shadow: 0px 0px 60px rgba(56, 161, 105, 0.5); /* Green shadow */
  transform: translateY(-5px);
  transition: all 0.4s;
}

/* Module Icon */
.module .icon {
  position: absolute;
  top: -2rem;
  left: 50%;
  transform: translateX(-50%);
  background: linear-gradient(to right, #38a169, #3182ce);
  padding: 1rem;
  border-radius: 50%;
}

/* Module Title */
.module h2 {
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  text-align: center;
  margin-top: 3rem;
}

/* Module Description */
.module p {
  color: #a0aec0;
  text-align: center;
  margin-top: 0.5rem;
}

.loader {
  border-top-color: #3498db; 
  animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
