@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

* {
  scrollbar-width: none;
  -ms-overflow-style: none; 
}

*::-webkit-scrollbar {
  display: none;
}

/* Module Styling */
.module {
  position: relative;
  padding: 1.5rem;
  border: 2px solid;
  border-image: linear-gradient(to right, #38a169, #3182ce); /* Gradient border */
  border-radius: 1rem;
  border-image-slice: 1;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.module:hover {
  box-shadow: 0px 0px 60px rgba(56, 161, 105, 0.5); /* Green shadow */
  transform: translateY(-5px); /* Slight lift effect on hover */
}

/* Module Icon (SVG) */
.module .icon {
  position: absolute;
  top: -2rem;
  left: 50%;
  transform: translateX(-50%);
  background: linear-gradient(to right, #38a169, #3182ce);
  padding: 1rem;
  border-radius: 50%;
}

.module .icon svg {
  color: white;
  width: 3rem;
  height: 3rem;
}

/* Module Title */
.module h2 {
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  text-align: center;
  margin-top: 3rem;
}

/* Module Description */
.module p {
  color: #a0aec0; /* Gray text */
  text-align: center;
  margin-top: 0.5rem;
}
